.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}
.headerLeft {
  display: flex;
  justify-content: space-evenly;
}
.headerInput {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.headerInput > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 200px;
}
.fblogo {
  height: 40px;
}
.headerMiddle {
  display: flex;
  flex: 1;
  justify-content: center;
}
.headerOption > .MuiSvgIcon-root {
  color: gray;
}
.headerOption:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}
.headerOption {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.headerOption:hover {
  background-color: #eff2f5;
  border-radius: 20px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}
.headerInfo {
  display: flex;
  align-items: center;
}
.headerInfo > h4 {
  margin-left: 10px;
}
.headerRight {
  display: flex;
}
.active > .MuiSvgIcon-root {
  color: #2e81f4;
}
.headerMiddle > div > .MuiSvgIcon-root {
  font-size: xx-large;
}

.active {
  border-bottom: 4px solid #2e81f4;
}
